
/*Typography*/
html {font: 16px 'Chau Philomene One', 'Roboto Condensed', Verdana, sans-serif;}
h1 {font-size: 20px;}
h2 {font-size: 16px;}
h3 {font-size: 14px;}
h4 {font-size: 1.5em;}
p {font-size: 12px;}

/*layout*/

body {
  text-align: center; /* center text */
  margin: auto; /* center horizontally */
  display: flex; /* center vertically */
  flex-direction: column; /* center vertically */
  justify-content: center; /* center vertically */
}

.button-container {
  text-align: center; /* center buttons horizontally */
}

